
<md-content >
  <!-- <div flex-xs flex-gt-xs="50" layout="column"> -->
  <md-card ng-repeat="feature in vector.queryFeatures" ng-show="!displayDetails" >
      <img ng-src="{{ 'thumb/' + feature.values_.img }}" class="md-card-image" alt="Best Practice thumbnail" ng-click="toggleFeatureDetails(feature)"> 
      <md-card-title >
          <md-card-title-text>
              <span ng-click="toggleFeatureDetails(feature)" class="md-headline">{{ feature.values_.name }} </span>
              <span class="md-subhead">{{ feature.values_.region }}, {{ feature.values_.country }} 
                <md-button aria-label="close" class="md-raised" ng-click="QueryDialogFromList(feature);">
                    Detail
                </md-button>
              </span>
          </md-card-title-text>
      </md-card-title>
      <md-card-content ng-click="toggleFeatureDetails(feature)" >
          <p>
              {{ feature.values_.annotation }} 
          </p>
      </md-card-content>
  </md-card>
  <!-- </div> -->
</md-content>

<md-toolbar class="md-hue-1" ng-show="displayDetails" ng-repeat="group in data.groups | orderBy : 'name'">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">{{group.attributes[3].value}}</h2>

        <div flex></div>

        <md-button class="md-icon-button" aria-label="Close" ng-click="closeDetail()">
            <md-icon md-menu-origin class="material-icons">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content ng-repeat="group in data.groups | orderBy : 'name'">
  <div ng-show="displayDetails" ng-repeat="attribute in group.attributes | orderBy : 'name'" layout-padding> 
    <div md-whiteframe="10"  class="md-list-item-text" layout="row" layout-align="start start">
        <span flex="30" style="overflow-wrap: break-word;">{{attribute.name}}</span>
        <span flex="5"></span>
        <span  flex="65" style="text-align:justify">{{attribute.value}}</span>
    </div>
  </div>
</md-content>